.button {
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: rgba(41, 37, 37, 0.6);
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    gap: 10px;
}