.button {
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    background-color: rgba(41, 37, 37, 0.6);
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    gap: 10px;
}

.button :hover {
    
}

.change {
    animation: change 300ms ease-out;
}

.amount {
    padding: 7px 10px 7px 10px;
    background-color: rgba(189, 89, 58, 0.7);
    border-radius: 12px;
}

@keyframes change {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}